.table {
    border: 1px solid gray;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem 0rem;
}

.tableItem, .tableHead {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 1rem auto;
    border: 1px solid gray;
    padding: 0.5rem 0rem;
}
.tableItem > *, .tableHead > * {
    width: 7rem;
}
.tableHead {
    font-size: 1.15rem;
}